.csym019 {
    float: left;
    background-color: aquamarine;
    padding: 2%;
    margin: 2%;
    width: 42%;
    border-radius: 10px;
}

.csym015 {
    display: inline-block;
    background-color: yellow;
    padding: 2%;
    margin: 2%;
    width: 42%;
    border-radius: 10px;
}

.csym016 {
    float: left;
    background-color: #fd617c;
    padding: 2%;
    margin: 2%;
    width: 42%;
    border-radius: 10px;
}

.csym020 {
    display: inline-block;
    background-color: #3f9f35;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    width: 42%;
}

body {
    font-family: Arial, sans-serif;
}
